In [1]:
import errorAPI
creator = errorAPI.ToolCreator()
tools = creator.list_tools()
dataset_dictionary = {
    "name": "flights",
}
d = errorAPI.dataset.Dataset(dataset_dictionary)
print(d.get_data_quality())

Available tools:
['dBoost', 'FAHES', 'FDchecker', 'ForbiddenItemSets', 'Raha', 'Regex']
0.7041847041847042

In [2]:
def print_scores(d, results):
    scores = d.evaluate_data_cleaning(results)
    prec = scores[0]
    rec = scores[1]
    f1 = scores[2]
    
    cprec = prec
    crec = rec
    cf1 = f1

    print("Cell Score:\t Precision=" + str(prec) + "\t Recall=" + str(rec) + "\t F1="+str(f1))

    scores = d.evaluate_detection_row_wise(results)
    prec = scores[0]
    rec = scores[1]
    f1 = scores[2]
    print("Row Score:\t Precision=" + str(prec) + "\t Recall=" + str(rec) + "\t F1="+str(f1))
    
    return (cprec, crec, cf1, prec, rec, f1)

In [3]:
if False:
    for tool_name in tools:
        print("-="*10)
        tool = creator.createTool(tool_name, [])
        tool.help()
        results = tool.run(d)
        try:
            print_scores(d, results)
        except:
            pass
        print()

In [4]:
run_examples_from_tools = ["dBoost", "FAHES", "Raha"]
run_examples_from_tools = []

best_tool = ""
best_config = {}
max_f1 = 0

for tool_name in run_examples_from_tools:
    for config in creator.createTool(tool_name, []).example_configurations:
        tool = creator.createTool(tool_name, config)
        results = tool.run(d)
        
        (cprec, crec, cf1, prec, rec, f1) = print_scores(d, results)
        
        if cf1 > max_f1:
            best_tool = tool_name
            best_config = config
            max_f1 = cf1

In [5]:
print("Max F1:", max_f1)
print("Tool:", best_tool)
print("Best config:", best_config)

Max F1: 0
Tool:
Best config: {}

In [29]:
## Print the edited values

if True:
    d.create_repaired_dataset(results)
    my_repaired_index = (d.repaired_dataframe == "JUST A DUMMY VALUE").any(axis=1)


    display(d.dataframe[my_repaired_index].head(5))
    display(d.repaired_dataframe[my_repaired_index].head(5))
    d.create_repaired_dataset(d.actual_errors_dictionary)
    display(d.repaired_dataframe[my_repaired_index].head(5))

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time
0,1,aa,AA-3859-IAH-ORD,7:10 a.m.,7:16 a.m.,9:40 a.m.,9:32 a.m.
1,2,aa,AA-1733-ORD-PHX,7:45 p.m.,7:58 p.m.,10:30 p.m.,
2,3,aa,AA-1640-MIA-MCO,6:30 p.m.,,7:25 p.m.,
3,4,aa,AA-518-MIA-JFK,6:40 a.m.,6:54 a.m.,9:25 a.m.,9:28 a.m.
4,5,aa,AA-3756-ORD-SLC,12:15 p.m.,12:41 p.m.,2:45 p.m.,2:50 p.m.

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time
0,JUST A DUMMY VALUE,JUST A DUMMY VALUE,AA-3859-IAH-ORD,7:10 a.m.,7:16 a.m.,9:40 a.m.,9:32 a.m.
1,JUST A DUMMY VALUE,JUST A DUMMY VALUE,AA-1733-ORD-PHX,7:45 p.m.,7:58 p.m.,10:30 p.m.,JUST A DUMMY VALUE
2,JUST A DUMMY VALUE,JUST A DUMMY VALUE,AA-1640-MIA-MCO,6:30 p.m.,JUST A DUMMY VALUE,7:25 p.m.,JUST A DUMMY VALUE
3,JUST A DUMMY VALUE,JUST A DUMMY VALUE,AA-518-MIA-JFK,6:40 a.m.,6:54 a.m.,9:25 a.m.,9:28 a.m.
4,JUST A DUMMY VALUE,JUST A DUMMY VALUE,AA-3756-ORD-SLC,12:15 p.m.,12:41 p.m.,2:45 p.m.,2:50 p.m.

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time
0,1,aa,AA-3859-IAH-ORD,7:10 a.m.,7:16 a.m.,9:40 a.m.,9:32 a.m.
1,2,aa,AA-1733-ORD-PHX,7:45 p.m.,7:58 p.m.,10:30 p.m.,10:30 p.m.
2,3,aa,AA-1640-MIA-MCO,6:30 p.m.,6:30 p.m.,7:25 p.m.,7:25 p.m.
3,4,aa,AA-518-MIA-JFK,6:40 a.m.,6:54 a.m.,9:25 a.m.,9:28 a.m.
4,5,aa,AA-3756-ORD-SLC,12:15 p.m.,12:41 p.m.,2:45 p.m.,2:50 p.m.

In [28]:
##### Try out
tool_name = "dBoost"
config = {"Params": ["gaussian","1.5"]}
tool = creator.createTool(tool_name, config)
results = tool.run(d)
tool.help()
print_scores(d, results)

Creating dBoost

>> Finding correlations
>> Building model...
>> Finding outliers...
Time 0 2.4720827999990433

Configuration arguments:
Examples:
["gaussian","1.5"]
["histogram", "1.5", "2.0"]
Cell Score:	 Precision=0.3973109243697479	 Recall=0.24024390243902438	 F1=0.29943001899936666
Row Score:	 Precision=0.8061594202898551	 Recall=0.27134146341463417	 F1=0.40602189781021897

Runtime  3.025951800002076

(0.3973109243697479,
 0.24024390243902438,
 0.29943001899936666,
 0.8061594202898551,
 0.27134146341463417,
 0.40602189781021897)