# Results for RQ1

In [1]:
import os 
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import prettytable
import re

cwd = os.getcwd()
os.chdir('../../')
import errorAPI
from errorAPI.dataset import Dataset
os.chdir(cwd)

In [2]:
sql_string = 'postgresql://postgres:postgres@localhost:5432/error_detection'
performance_results = pd.read_sql_table("results", create_engine(sql_string)).drop_duplicates(['dataset', 'tool_name', 'tool_configuration'], keep='last')
performance_results["human_accuracy"] = performance_results["human_accuracy"].fillna(1)

In [3]:
group_by_cols = ["dataset", "tool_name", "human_accuracy"]
show_cols = ["cell_prec", "cell_rec", "cell_f1", "error_text"]
max_col = "cell_f1"

max_idx = performance_results.groupby(group_by_cols)[max_col].transform(max) == performance_results[max_col]

In [28]:
dataset_names = list(set([x[0] for x in results_df.index]))
dataset_names.sort()
tool_names = list(set([x[1] for x in results_df.index]))
tool_names.sort()

## Filtered tools
tool_names = [
    'Raha'
]

exclude_datasets = [
    "eeg_minor",
    "eeg_major",
    "uscensus_major",
    "company",
    "kdd"
]

accuracies = [1, 0.75]

results_df = performance_results[max_idx & performance_results["tool_name"].isin(tool_names)].groupby(group_by_cols)[show_cols].min()
dataset_names = [x for x in dataset_names if x not in exclude_datasets]

In [31]:
## Columns = datasets


data_dict = []
for tool_name in tool_names:
    for accuracy in accuracies:
        row = {}
        for dataset_name in dataset_names:
            try:
                values = results_df.loc[(dataset_name, tool_name, accuracy)]
                result_string = ""
                for i, show_col in enumerate(show_cols):
                    if show_col == "error_text":
                        continue
                    
                    is_max = results_df.loc[dataset_name][show_col].max() == values[i]
                    if values["error_text"] != "":
                        if "Timeout" in values["error_text"]:
                            result_string += values["error_text"]
                        else:
                            result_string += "Other error"
                        break
                    elif is_max:
                        result_string += "\textbf{" + "{:.2f}".format(values[i]) + "}"
                    else:
                        result_string += "{:.2f} ".format(values[i])

                    result_string += " "
                row[dataset_name] = result_string
            except KeyError as e:
                row[dataset_name] = ""
        data_dict.append(row)

output_df_datacols = pd.DataFrame(data_dict, columns = dataset_names, index = [x + " "+str(y) for x in tool_names for y in accuracies])

In [32]:
results_df.loc[dataset_name][show_col].max()

''

In [33]:
# output_df_datacols = output_df_datacols.reindex(sorted(output_df_datacols.columns), axis=1)
# output_df_datacols

output_df_datacols_header = output_df_datacols.copy()
first_index = output_df_datacols_header.index
output_df_datacols_header.loc["", :] = "\textbf{\space\space\space P \space\space\space\space R \space\space\space F1}"
output_df_datacols_header = output_df_datacols_header.reindex([""] + first_index.tolist())
output_df_datacols_header

,airbnb,beers,eeg,flights,hospital,marketing,movie,movies,rayyan,restaurant,restaurants,toy,university,uscensus
,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...
Raha 1,\textbf{0.42} 0.13 0.20,\textbf{0.97} 0.69 \textbf{0.80},\textbf{0.56} \textbf{0.71} \textbf{0.63},\textbf{0.90} \textbf{0.83} \textbf{0.86},\textbf{0.98} \textbf{0.57} \textbf{0.72},\textbf{0.50} 0.32 \textbf{0.39},\textbf{0.47} 0.64 \textbf{0.54},\textbf{0.72} \textbf{0.76} \textbf{0.74},\textbf{0.86} 0.84 \textbf{0.85},\textbf{0.14} 0.11 \textbf{0.12},\textbf{0.00} \textbf{1.00} \textbf{0.00},\textbf{0.22} \textbf{1.00} \textbf{0.36},\textbf{0.99} \textbf{0.91} \textbf{0.95},\textbf{1.00} \textbf{1.00} \textbf{1.00}
Raha 0.75,0.19 \textbf{0.36} \textbf{0.25},0.70 \textbf{0.81} 0.75,0.10 0.44 0.16,0.60 0.73 0.66,0.09 0.54 0.15,0.30 \textbf{0.47} 0.37,0.41 \textbf{0.71} 0.52,0.11 0.35 0.17,0.71 \textbf{0.84} 0.77,0.01 \textbf{0.58} 0.03,0.00 0.00 0.00,Other error,0.25 0.78 0.38,0.05 0.64 0.09

In [34]:
output_df_datacols_header_T = output_df_datacols.T.copy()
first_index = output_df_datacols_header_T.index
output_df_datacols_header_T.loc["", :] = "\textbf{\space\space\space P \space\space\space\space R \space\space\space F1}"
output_df_datacols_header_T = output_df_datacols_header_T.reindex([""] + first_index.tolist())
output_df_datacols_header_T

,Raha 1,Raha 0.75
,\textbf{\space\space\space P \space\space\spac...,\textbf{\space\space\space P \space\space\spac...
airbnb,\textbf{0.42} 0.13 0.20,0.19 \textbf{0.36} \textbf{0.25}
beers,\textbf{0.97} 0.69 \textbf{0.80},0.70 \textbf{0.81} 0.75
eeg,\textbf{0.56} \textbf{0.71} \textbf{0.63},0.10 0.44 0.16
flights,\textbf{0.90} \textbf{0.83} \textbf{0.86},0.60 0.73 0.66
hospital,\textbf{0.98} \textbf{0.57} \textbf{0.72},0.09 0.54 0.15
marketing,\textbf{0.50} 0.32 \textbf{0.39},0.30 \textbf{0.47} 0.37
movie,\textbf{0.47} 0.64 \textbf{0.54},0.41 \textbf{0.71} 0.52
movies,\textbf{0.72} \textbf{0.76} \textbf{0.74},0.11 0.35 0.17
rayyan,\textbf{0.86} 0.84 \textbf{0.85},0.71 \textbf{0.84} 0.77
restaurant,\textbf{0.14} 0.11 \textbf{0.12},0.01 \textbf{0.58} 0.03
restaurants,\textbf{0.00} \textbf{1.00} \textbf{0.00},0.00 0.00 0.00
toy,\textbf{0.22} \textbf{1.00} \textbf{0.36},Other error
university,\textbf{0.99} \textbf{0.91} \textbf{0.95},0.25 0.78 0.38
uscensus,\textbf{1.00} \textbf{1.00} \textbf{1.00},0.05 0.64 0.09

In [35]:
captionstr1 = "|Precision Recall F1-score| for dataset as columns \& tool as row"
with pd.option_context("max_colwidth", 1000):
    print(output_df_datacols_header.to_latex(escape=False, caption=captionstr1))

\begin{table}
\centering
\caption{|Precision Recall F1-score| for dataset as columns \& tool as row}
\begin{tabular}{lllllllllllllll}
\toprule
{} &                                                                          airbnb &                                                                           beers &                                                                             eeg &                                                                         flights &                                                                        hospital &                                                                       marketing &                                                                           movie &                                                                          movies &                                                                          rayyan &                                                                      restaurant &                                                                     restaurants &                                                                             toy &                                                                      university &                                                                        uscensus \\
\midrule
          &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} &  \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} \\
Raha 1    &                                                      \textbf{0.42} 0.13  0.20   &                                              \textbf{0.97} 0.69  \textbf{0.80}  &                                      \textbf{0.56} \textbf{0.71} \textbf{0.63}  &                                      \textbf{0.90} \textbf{0.83} \textbf{0.86}  &                                      \textbf{0.98} \textbf{0.57} \textbf{0.72}  &                                              \textbf{0.50} 0.32  \textbf{0.39}  &                                              \textbf{0.47} 0.64  \textbf{0.54}  &                                      \textbf{0.72} \textbf{0.76} \textbf{0.74}  &                                              \textbf{0.86} 0.84  \textbf{0.85}  &                                              \textbf{0.14} 0.11  \textbf{0.12}  &                                      \textbf{0.00} \textbf{1.00} \textbf{0.00}  &                                      \textbf{0.22} \textbf{1.00} \textbf{0.36}  &                                      \textbf{0.99} \textbf{0.91} \textbf{0.95}  &                                      \textbf{1.00} \textbf{1.00} \textbf{1.00}  \\
Raha 0.75 &                                              0.19  \textbf{0.36} \textbf{0.25}  &                                                      0.70  \textbf{0.81} 0.75   &                                                              0.10  0.44  0.16   &                                                              0.60  0.73  0.66   &                                                              0.09  0.54  0.15   &                                                      0.30  \textbf{0.47} 0.37   &                                                      0.41  \textbf{0.71} 0.52   &                                                              0.11  0.35  0.17   &                                                      0.71  \textbf{0.84} 0.77   &                                                      0.01  \textbf{0.58} 0.03   &                                                              0.00  0.00  0.00   &                                                                     Other error &                                                              0.25  0.78  0.38   &                                                              0.05  0.64  0.09   \\
\bottomrule
\end{tabular}
\end{table}

In [36]:
captionstr2 = "|Precision Recall F1-score| for Raha with different human labeling accuracy"

with pd.option_context("max_colwidth", 1000):
    print(re.sub(' +', ' ', output_df_datacols_header_T.to_latex(escape=False, caption=captionstr2)))

\begin{table}
\centering
\caption{|Precision Recall F1-score| for Raha with different human labeling accuracy}
\begin{tabular}{lll}
\toprule
{} & Raha 1 & Raha 0.75 \\
\midrule
 & \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} & \textbf{\space\space\space P \space\space\space\space R \space\space\space F1} \\
airbnb & \textbf{0.42} 0.13 0.20 & 0.19 \textbf{0.36} \textbf{0.25} \\
beers & \textbf{0.97} 0.69 \textbf{0.80} & 0.70 \textbf{0.81} 0.75 \\
eeg & \textbf{0.56} \textbf{0.71} \textbf{0.63} & 0.10 0.44 0.16 \\
flights & \textbf{0.90} \textbf{0.83} \textbf{0.86} & 0.60 0.73 0.66 \\
hospital & \textbf{0.98} \textbf{0.57} \textbf{0.72} & 0.09 0.54 0.15 \\
marketing & \textbf{0.50} 0.32 \textbf{0.39} & 0.30 \textbf{0.47} 0.37 \\
movie & \textbf{0.47} 0.64 \textbf{0.54} & 0.41 \textbf{0.71} 0.52 \\
movies & \textbf{0.72} \textbf{0.76} \textbf{0.74} & 0.11 0.35 0.17 \\
rayyan & \textbf{0.86} 0.84 \textbf{0.85} & 0.71 \textbf{0.84} 0.77 \\
restaurant & \textbf{0.14} 0.11 \textbf{0.12} & 0.01 \textbf{0.58} 0.03 \\
restaurants & \textbf{0.00} \textbf{1.00} \textbf{0.00} & 0.00 0.00 0.00 \\
toy & \textbf{0.22} \textbf{1.00} \textbf{0.36} & Other error \\
university & \textbf{0.99} \textbf{0.91} \textbf{0.95} & 0.25 0.78 0.38 \\
uscensus & \textbf{1.00} \textbf{1.00} \textbf{1.00} & 0.05 0.64 0.09 \\
\bottomrule
\end{tabular}
\end{table}